main {
    display: flex;
    flex-direction: column;
}

section {
    min-height: 100px;
    border-bottom: 2px solid black;
}

#hidden-word-container, 
#keyboard-container {
    text-align: center;
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hidden-letter-container,
.keyboard-letter-container {
    box-sizing: border-box;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 10px;
}

.keyboard-letter-container:hover {
    cursor: pointer;
}

